// swift-tools-version: 6.2

import PackageDescription

// GENERATOR MARK: HEADER

let package = Package(
    name: "CPicoSDK",
    products: [
        .library(name: "CPicoSDK", targets: ["CPicoSDK"]),
        .plugin(name: "PrepareEnvironmentPlugin", targets: ["PrepareEnvironmentPlugin"]),
        .plugin(name: "FinalizeBinaryPlugin", targets: ["FinalizeBinaryPlugin"]),
    ],
    traits: [
        // TODO: The generator needs to define traits. This needs to be implemented.
        .trait(name: "Platform_RP2350"),
        .trait(name: "Platform_RP2350_arm_s"),
        .trait(name: "Platform_RP2350_riscv"),
        .trait(name: "Platform_Host"),

        .trait(name: "Variant_RP2350A"),
        .trait(name: "Variant_RP2350B"),

        .trait(name: "Radio_None"),
        .trait(name: "Radio_CYW43439"),

        .trait(name: "BootStage2_W25Q080"),
        .trait(name: "BootStage2_GENERIC_03H"),
        .trait(name: "BootStage2_W25X10CL"),
        .trait(name: "BootStage2_IS25LP080"),
        .trait(name: "BootStage2_AT25SF128A"),

        .trait(name: "StdIO_UART", description: "Enables stdio operations through UART pins"),
        .trait(name: "StdIO_USB", description: "Enables stdio operations through USB"),
        .trait(name: "StdIO_RTT", description: "Enables stdio operations through the RTT debugging protocol"),

        // GENERATOR MARK: TRAITS
    ],
    dependencies: [
        .package(url: "https://github.com/sympatito/PicoSDKDownloader", from: "0.0.4"),
    ],
    targets: [
        // GENERATOR MARK: TARGETS
        // .target(name: "_CPicoSDK_pico2"),
        .target(
            name: "CPicoSDK",
            dependencies: [
                // GENERATOR MARK: TARGET DEPENDENCIES
                // "_CPicoSDK_pico2"
            ]
        ),
        .plugin(
            name: "GenerateCPicoSDKPlugin",
            capability: .command(
                intent: .custom(verb: "generate-cpicosdk", description: "Generates CPicoSDK target files"),
                permissions: [
                    .writeToPackageDirectory(reason: "Needs to write CPicoSDK target files, can't generate using prebuildCommand yet because it's a .h header file."),
                ]
            )
        ),
        .plugin(
            name: "PrepareEnvironmentPlugin",
            capability: .command(
                intent: .custom(verb: "prepare-rp2xxx-environment", description: "Ensure environment for CPicoSDK is in place"),
                permissions: [
                    .writeToPackageDirectory(reason: "Returns bash code that prepares the environment for building with CPicoSDK."),
                    .allowNetworkConnections(scope: .all(), reason: "Downloads Pico SDK, ARM toolchain and other dependencies.")
                ]
            ),
            dependencies: [
                .product(name: "pico-bootstrap", package: "PicoSDKDownloader"),
            ]
        ),
        .plugin(
            name: "FinalizeBinaryPlugin",
            capability: .command(
                intent: .custom(verb: "finalize-rp2xxx-binary", description: "Generates CPicoSDK target files"),
                permissions: [
                    .writeToPackageDirectory(reason: "Finalizes build by linking with pico-sdk and generates UF2 and ELF binaries."),
                ]
            )
        ),
    ]
)
